<body id="top">
    
    <!-- <div class="mountains"></div> -->
    
    <div class="svgInclude hidden">{% include /symbol/svg/sprite.symbol.svg %}</div>

    <header id="mainHeader" class="header clearfix">
        <div class="headerInner">
        
            <a class="siteName" href="{{ site.url }}/" title="{{ site.name }} homepage" rel="home">
                <h2 class="subName">{{ page.subtitle }}</h2>
                <h1 class="mainName">{{ page.title }}</h1>
            </a>

            <h3 class="mainTagline">{{ site.description }}</h3>

            <div class="mainLogo"></div>

            <!-- <svg class="logoSvg">
                <use xlink:href="#audioLogo"/>
            </svg> -->

            <nav class="mainMenuWrapper">

                <ul class="mainMenu clearfix" role="navigation">
                    {% for menuLink in page.menu %}
                        <li><a href="#{{ menuLink.id }}">{{ menuLink.title }}</a></li>
                    {% endfor %}
                </ul>

                <button class="mainMenuToggle"><span class="navicon"></span><span class="visuallyhidden">Main Menu</span></button>
            </nav>

        </div>

        <a href="#top" class="sideLogo">
            <svg class="sideLogoSvg">
                <use xlink:href="#logo_plain"/>
            </svg>
        </a>


    </header>

    <a href="https://github.com/tomhazledine/picobel" alt="Fork this project on Github" class="githubLink">
        <span>Get involved on Github</span>
        <svg class="githubLogo">
            <use xlink:href="#github"/>
        </svg>
    </a>

    <div class="moblieHeader">
        <span class="siteName" href="{{ site.url }}/" title="{{ site.name }} homepage" rel="home">
            <h2 class="subName">{{ page.subtitle }}</h2>
            <h1 class="mainName">{{ page.title }}</h1>
        </span>

        <h3 class="mainTagline">{{ site.description }}</h3>
    </div>
