<div class="note" markdown="1">
    <div class="bodyWrapper clearfix">
        <h2>Open beta: feedback welcome</h2>

        <p>I've been using Picobel.js for some time, but it has only recently been opened-up to the wider world. I'd love to hear your thoughts or suggestions (or even complaints!). I want Picobel to be as good as possible before hitting the <strong>v.1.0.0</strong> milestone.</p>
        <p>You can reach me at <a href="https://twitter.com/thomashazledine">@thomashazledine</a> or tom@tomhazledine.com.</p>
    </div>
</div>