<meta name="twitter:site" content="@thomashazledine" />

<meta name="twitter:title" content="{{ site.name }}"/>
<meta name="twitter:description" content="{{ site.description }}" />

<span class="visuallyhidden" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
    <span itemprop="name">
        <a href="https://plus.google.com/111879829548102811838" itemprop="url" rel="author">Tom Hazledine</a>
    </span>
</span>

<span class="visuallyhidden" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="Tom Hazledine">
</span>