code{
    font-family:$code;
    padding:0 .4em;
    font-size:.8em;
    color:$cream;
    background:$black;
    word-wrap:break-word;
}
pre{
    margin:1em 0;
}
pre code{
    display:block;
    width:100%;
    overflow:auto;
    padding:1em !important;
    word-wrap:normal;
}