.textContent{
    font-size:2rem;
    margin-bottom:4em;
}

.textContent ul{
    font-style:italic;
    font-size:.9em;
    li{
        padding-bottom:.5em;
    }
}

.textContent{
    em{
        font-style:italic;
    }
    strong{
        font-weight:bold;
    }
}