html{
    font-size:62.5%;
    min-height:100%;
}

body{
    min-height:100%;
    font-size:1.6em;
    font-family:$text;
    font-weight:$book;
    color:$black;
    line-height:1.6;
    min-width:300px;
}

a{
    color:$primary;
    text-decoration:none;

    transition:color,background;
    transition-duration:.2s;
    &:hover{
        color:$cream;
        background:$primary;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-family:$display;
  text-transform:uppercase;
  letter-spacing:.2em;
}
h1,h2{
    font-size:1.4em;
}

p{
    margin-bottom:1em;
}

// Main Wrapper
.bodyWrapper{
    width:80%;
    max-width:30em;
    margin:0 auto;
}

hr,.divider{
    margin:8em 0;
    border:0;
    height:1px;
    background:$primary;
}