.githubLink{
    display:block;
    position:fixed;
    top:-6em;
    right:2em;
    z-index:2;
    background:$primary;
    padding-top:4em;
    width:6em;
    font-size:.8em;
    color:$primary;
    text-align:center;
    transition:top, color;
    transition-duration:.2s;
    box-shadow:
        rgba($black,.3) 0 .3em .3em 0,
        darken($primary,4%) 0 .1em 0 0,
        //rgba($black,.2) 0 .3em .3em 0,
        ;
    span{
        display:block;
        padding:1em;
        line-height:1;
    }
    .githubLogo{
        width:2em;
        height:2em;
        fill:$white;
        margin:1em auto;
    }
    &:hover{
        top:0;
        color:$white;
    }
    @include bp(d1){
        display:none;
    }
}