header{
    text-align:center;
    box-shadow:rgba($black,.3) 0 .2em .5em 0;
    border-bottom:1px solid $primary;
    position:fixed;
    width:100%;
    bottom:100%;
    margin-bottom:-10em;
    left:0;
    background:$white;
    z-index:2;
    transition:margin-bottom;
    transition-duration:.3s;
    padding-top:10em;
    &.tuckedUp{
        margin-bottom:-3em;
    }
    @include bp(d1){
        margin-bottom:-3em;
        &.menuOpen,&.tuckedUp.menuOpen{
            margin-bottom:-13em;
        }
    }
}

.siteName{
    padding:1em 0;
}

.menuTopHeight{
    padding-top:11em;
    @include bp(d1){
        padding-top:4em;
    }
}

.mainTagline{
    // box-shadow:rgba($black,.3) 0 .2em .5em 0;
}

.sideLogo{
    // width:2em;
    // height:2em;
    background:$primary;
    position:absolute;
    bottom:.5em;
    left:-3em;
    transition:left;
    transition-duration:1s;
    display:block;
    z-index:4;
    border-radius:1em;
    border:1em solid $primary;
    border-bottom-color:$black;
    border-right-color:$black;
    @include bp(d1){
        left:.5em;
    }
}

.tuckedUp .sideLogo{
    left:.5em;
}