.credits{
    text-align:center;
    font-size:.8em;
    font-family:$display;
    text-transform:uppercase;
    letter-spacing:.2em;
    margin-top:8em;
    border-top:1px solid $primary;
    padding-top:1em;
}