.callsToAction{
    margin:2em 0;
    text-align:center;
}

.callToAction{
    display:inline-block;
    background:$primary;
    color:$white;
    margin:0 .5em;
    font-family:$display;
    padding:.7em 1em .5em;
    text-transform:uppercase;
    letter-spacing:.2em;
    border-radius:.5em;
    line-height:1;
    font-size:.8em;
    position:relative;
    transition:top, box-shadow;
    transition-duration:.2s;
    top:0;
    box-shadow:
        rgba($black,.3) 0 .3em .3em 0,
        darken($primary,4%) 0 .1em 0 0,
        //rgba($black,.2) 0 .3em .3em 0,
        ;

    &:hover{
        color:$white;
        top:-.2em;
        box-shadow:
            rgba($black,.3) 0 .5em .3em 0,
            darken($primary,4%) 0 .1em 0 0,
            //rgba($black,.2) 0 .3em .3em 0,
            ;
    }
    @include bp(d1){
        margin-bottom:1em;
    }
}