.note{
    h2{
        line-height:1;
        letter-spacing:0;
        padding-bottom:.2em;
    }
    background:rgba($primary,.2);
    font-size:.8em;
    padding:2em 0 1em 0;
    // box-shadow:inset rgba($black,.2) 0 -.1em .3em 0;
}