.mainMenu{
    display:block;
    margin:2em 0;
    transition:margin;
    transition-duration:.2s;
    line-height:1;
    @include bp(d1){
        margin:1em 0;
    }
    li{
        display:inline-block;
        font-family:$display;
        text-transform:uppercase;
        letter-spacing:.2em;
        margin:0 .5em;
        list-style:none;
        line-height:1;
        // box-shadow:$primary 0 0 0 0;
        @include bp(d1){
            display:block;
            margin:1em 0;
        }
        a{
            display:block;
            color:$black;
            transition:box-shadow;
            transition-duration:.2s;
            box-shadow:$primary 0 0 0 0;
            line-height:1;
            &:hover{
                box-shadow:$primary 0 .2em 0 0;
                color:inherit;
                background:inherit;
            }
            @include bp(d1){
                display:inline-block;
            }
        }
    }
}

.tuckedUp .mainMenu{
    margin:1em 0;
    // @include bp(d1){
    //     margin:2em 0 1em;
    // }
}

.mainMenuToggle{
    @extend %buttonReset;
    display:none;
    width:1em;
    height:1em;
    position:relative;
    margin:1em auto;
    &:focus{
        outline:none;
    }
    @include bp(d1){
        display:block;
    }
}

.navicon{
    display:block;
    background:$black;
    height:2px;
    // margin:.4rem auto;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-1px;
    margin-left:-8px;
    width:16px;
    transition:background;
    transition-duration:.2s;
    &:before,&:after{
        content:'';
        display:block;
        position:absolute;
        height:2px;
        background:$black;
        width:16px;
        left:50%;
        margin-left:-8px;
        transform-origin:50% 50%;
        transition:transform,top,bottom;
        transition-duration:.2s;
    }
    &:before{
        top:-5px;
    }
    &:after{
        bottom:-5px;
    }
}
.mainMenuToggle.open .navicon{
    background:$white;
    &:before,&:after{
        width:12px;
    }
    &:before{
        transform:rotate(45deg);
        top:0;
    }
    &:after{
        transform:rotate(-45deg);
        bottom:0;
    }
}