header{
    // display:none;
    text-align:center;
    box-shadow:rgba($black,.2) 0 .1em .3em 0;
    border-bottom:1px solid $primary;
    // position:fixed;
    width:100%;
    bottom:100%;
    // margin-bottom:-30em;
    left:0;
    background:$white;
    z-index:2;
    transition:margin-bottom;
    transition-duration:1s;
    padding-top:10em;
    // &.tuckedUp{
    //     margin-bottom:-3em;
    // }
    // @include bp(d1){
    //     margin-bottom:-3em;
    //     &.menuOpen,&.tuckedUp.menuOpen{
    //         position:fixed;
    //         margin-bottom:-13em;
    //     }
    // }
}

.siteName{
    padding:1em 0;
    .subName{
        line-height:1;
        color:$black;
    }
    .mainName{
        line-height:1;
        font-size:3em;
        color:$primary;
        padding:1rem 0;
    }
}

.mainLogo{
    width:20em;
    height:14em;
    margin:0 auto;
    background-image:url('../images/heroLogo.png');
    background-image:url('../images/heroLogo.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}


// .menuTopHeight{
//     padding-top:16em;
//     @include bp(d1){
//         padding-top:0em;
//     }
// }

.mainTagline{
    font-family:$text;
    letter-spacing:0;
    text-transform:none;
    font-style:italic;
    // box-shadow:rgba($black,.3) 0 .2em .5em 0;
}

.sideLogo{
    width:2em;
    height:2em;
    // background:$primary;
    position:absolute;
    bottom:.5em;
    left:-3em;
    // transition:left;
    // transition-duration:1s;
    display:block;
    z-index:4;
    // border-radius:1em;
    // border:1em solid $primary;
    // border-bottom-color:$black;
    // border-right-color:$black;
    transform:scale(1);
    transition:transform, left;// .2s;
    transition-duration:.5s;
    @include bp(d1){
        left:.5em;
    }
    .sideLogoSvg{
        width:2em;
        height:2em;
    }
    &:hover{
        background:inherit;
        transform:scale(1.1);
    }
}

// .tuckedUp .sideLogo{
//     left:.5em;
// }

.moblieHeader{
    display:none;
    text-align:center;
    margin-top:5em;
    @include bp(d1){
        display:block;
    }
}