{% include head.html %}
{% include og_meta.html %}
{% include header.html %}

{% include note.html %}

<div class="bodyWrapper menuTopHeight clearfix">

    <div class="mainContent textContent clearfix">

    {% if page.callsToAction %}

        <div class="callsToAction">

            {% for cta in page.callsToAction %}
                <a href="{{ cta.url }}" class="callToAction">{{ cta.text }}</a>
            {% endfor %}

        </div>

    {% endif %}

    {{content}}

    <div class="credits">
        <p>Built and maintained by <a href="http://tomhazledine.com">Tom Hazledine</a></p>
    </div>

    </div><!-- .mainContent -->
</div><!-- .bodyWrapper -->

{% include footer.html %}
